/*Google Fonts - Crimson Text & Titillium Web*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/*Asteriks wildcard to override default styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*General Styles**/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #fafafa;
    font-family: "Titillium",sans-serif;
}

/*Header*/
header {
    background-color: #181717;
    padding: 0 1rem;
    position: fixed;
    z-index:100;
    width:100%;
    box-shadow: 0 2px 3px #181717;
}
h1{
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-shadow: #0c8a1d 1px 0 10px;
    
}
header a{
    text-decoration: none;
    color:#fafafa;
}
/*Main content*/
main {
    background-color: orange;
    flex: 1;
}

/*Footer*/
footer {
    background-color: blueviolet;
}