/*Google Fonts - Crimson Text & Titillium Web*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/*Asteriks wildcard to override default styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*General Styles**/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #fafafa;
    font-family: "Titillium",sans-serif;
}

/*Header*/
header {
    background-color: #181717;
    padding: 0 1rem;
    position: fixed;
    z-index:100;
    width:100%;
    box-shadow: 0 2px 3px #181717;
    display:flex;
    justify-content: space-between;
    align-items: baseline;
}

h1{
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-shadow: #0c8a1d 1px 0 10px;
    
}
header a{
    text-decoration: none;
    color:#fafafa;
    padding:0.5rem 1rem;
    /*Reminder use for larger screens*/
    cursor:pointer;
}
#menu{
    list-style: none;
    font-size:105%;
    letter-spacing: 2px;
}

#menu > li{
    margin: 1rem 0;
    padding:5px;
    
}

.contact{
    background-color: #0c8a1d;
    border:none;
    border-radius: 20px;
}
/*Navbar styles with dropdown toggle*/

nav{
    position:absolute;
    background-color: #181717;
    top:100%;
    right:-100%;
    width:100%;
    box-shadow: 0 2px 3px #181717;
    padding: 0 1rem;
    
    /*Transistion found https://developer.mozilla.org/en-US/docs/Web/CSS/transition*/
    transition: 0.75s ease-out;   
}

/*Nav Toggle*/
#nav-toggle:checked ~ nav{
    right:0;
}

header input{
    display:none;
}

#nav-toggle-label{
    font-size: 200%;
}

/*Main content*/
main {
    background-color: orange;
    flex: 1;
    padding-top:53px;
}

/*Footer*/
footer {
    background-color: blueviolet;
}

/*Media query: larger screens (tablets and computers)*/
@media screen and (min-width:768px){
    nav{
        right:0;
        position:relative;
        box-shadow: none;
        transition: none;
    }
    #menu{
        display:flex;
        justify-content: flex-end;
    }
    #nav-toggle-label{
        display:none;
    }
}